<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperFriendsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB339EBC216F3C47006B5656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB339ED4216F3C48006B5656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB339EDF216F3C48006B5656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
